.jumbotron,
.card-body,
.container,
.site-header {
    font-family: "Verdana", serif !important;
}

.jumbotron .display-4 {
    font-weight: bold;
}

nav a {
    text-decoration: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.jumbotron {
    height: 50vh;
    padding: 5em inherit;
    margin-bottom: 0;
    background-color: #53c0fb;
    background: url("../img/cover_back.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
    font-size: 38px;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: 0.25rem;
}

.site-header a {
    color: white;
    transition: ease-in-out color 0.15s;
}

.site-header .dropdown-menu a {
    color: black;
}

.dropzone {
    border: 2px dashed #0087f7;
    border-radius: 5px;
    background: white;
}

.img-fit {
    max-height: 100%;
}

.alert {
    position: fixed;
    top: 80px;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
}

.cursor-active {
    cursor: pointer;
}

.left {
    float: left;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#spinner-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1021;
    display: none;
}

main {
    min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: inherit;
}

.checked {
    color: orange;
}

.contenedor {
    padding-left: 54px;
    padding-right: 54px;
}

a.naranja,
a.naranja:link,
a.naranja:visited {
    color: #f09100;
    text-decoration: none;
    font-size: clamp(14px, 3vw, 24px);
}

a.naranja:hover,
a.naranja:active {
    color: #d97f00;
    text-decoration: none !important;
    font-size: clamp(14px, 3vw, 24px);
}

form {
    width: 100%;

    max-width: 500px;
}

form > div {
    margin-bottom: 27px;
}

label {
    font-size: clamp(14px, 3vw, 24px);
    margin-bottom: 6px;
    color: #212529;
}

input[type="text"],
input[type="password"] {
    border: none;
    width: 100%;
    padding: 14px;
    font-size: clamp(14px, 3vw, 24px);
    outline: none;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}

button[type="submit"] {
    border-radius: 3px;
    text-align: center;
    margin-top: 18px;
    width: 100%;
    font-size: clamp(14px, 3vw, 24px);
    color: white;
    cursor: pointer;
    background-color: #212529;
    width: 100%;
    padding: 14px;
}

form > div:last-child {
    text-align: center;

    margin-top: 10px;
}

form > div:last-child a {
    text-decoration: none;

    color: #007bff;
}

form > div:last-child a:hover {
    text-decoration: underline;
}

.btn-dark-custom {
    background-color: #212529;
    border-color: #212529;
    color: white;
}

.btn-dark-custom:hover {
    background-color: #343a40;
    border-color: #343a40;
    color: white;
}

.custom-shadow {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
    border: none;
}

#regMessage {
    text-align: center;
    padding-top: 16px;
}
.card {
    transition: transform 0.2s;
}
.card:hover {
    transform: translateY(-5px);
}

.navbar .btn:focus,
.navbar .btn:focus-visible,
.navbar .btn:active,
.loginContenedor .btn:focus,
.loginContenedor .btn:focus-visible,
.loginContenedor .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

input::placeholder {
    color: #c4c4c4;
    opacity: 1;
}

.filtros {
    padding-bottom: 16px !important;
}

.producto {
    cursor: pointer;
}


/* Estilo de las páginas creadas en product-info.html */

/*Tamaño de las imágenes */
.carousel-item img {
  max-height: 400px; 
  object-fit: contain; 
  width: 100%; 
}

/*Estilo de los botones de imagen previa y posterior*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0,0,0,0.35);
  border-radius: 10%;
  padding: 10px;
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
}

/*Miniaturas de las imágenes*/
#carousel-thumbs img {
  max-height: 80px;
  object-fit: cover;
  border: 0.1px solid rgba(0,0,0,0.3); 
  border-radius: 3px;        
  cursor: pointer;           
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
#carousel-thumbs img:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

.carousel-container {
  max-width: 600px;   
  margin-left: 2rem;     
  margin-bottom: 2rem;
  background-color: #d2d5d8ad;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Esto es para centrar el contenido de la página por ahora, seguramente se modifique luego */
.product-info-container {
margin-left: 40rem;
}

#product-category {
color:#ff6b00;
}
#product-sold {
color:#ff6b00;
}

/*Botón de regreso de categoría*/
#back-to-category {
background-color:#ff6b00;
color:#212529
}

