.jumbotron,
.card-body,
.container,
.site-header,
body {
    font-family: "Verdana", serif !important;
}

.jumbotron .display-4 {
    font-weight: bold;
}

nav a {
    text-decoration: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.jumbotron {
    height: 50vh;
    padding: 5em inherit;
    margin-bottom: 0;
    background-color: #53c0fb;
    background: url("../img/cover_back.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
    font-size: 38px;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: 0.25rem;
}

.site-header a {
    color: white;
    transition: ease-in-out color 0.15s;
}

.site-header .dropdown-menu a {
    color: black;
}

.dropzone {
    border: 2px dashed #0087f7;
    border-radius: 5px;
    background: white;
}

.img-fit {
    max-height: 100%;
}

.alert {
    position: fixed;
    top: 80px;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
}

.cursor-active {
    cursor: pointer;
}

.left {
    float: left;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#spinner-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1021;
    display: none;
}

main {
    min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: inherit;
}

.checked {
    color: orange;
}

.loginContenedor {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

form {
    width: 100%;
    max-width: 500px;
}

form > div {
    margin-bottom: 27px;
}

label {
    font-size: 36px;
    margin-bottom: 6px;
    color: #212529;
}

input[type="text"],
input[type="password"] {
    border: none;
    width: 100%;
    padding: 14px;
    font-size: 1rem;
    outline: none;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

button[type="submit"] {
    all: unset;
    border-radius: 3px;
    text-align: center;
    margin-top: 18px;
    width: 100%;
    font-size: 36px;
    color: white;
    cursor: pointer;
    background-color: #212529;
}
/* Título de la página */
#titulo-categoría {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Tarjeta */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid #00000093;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0.3, 0, 0, 0.3);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Imagen de la tarjeta */
.card-img-top {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    flex: 0 0 50%;
    object-fit: cover;
    width: 100%;
}

/* Título de la tarjeta */
.card-title {
    font-size: 1rem;
    font-weight: bold;
}

/* Cuerpo de la tarjeta */
.card-body {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    flex: 1 1 60%;
    font-size: 0.7rem;
}

/* Información del producto */
.info-producto {
    flex: 2;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Franja negra del precio */
.precio-producto {
    font-size: 1rem;
}

.bg-dark {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    height: 100%;
    white-space: nowrap;
    background-color: #000;
    color: #fff;
}

/* Texto dentro de la franja negra */
.bg-dark .fs-4 {
    font-weight: bold;
    line-height: 1;
    font-size: 1.2rem !important;
}

.bg-dark .fs-6 {
    font-size: 0.6rem !important;
}

.bg-dark small {
    color: rgba(204, 204, 204, 0.37);
}

/* Espaciado entre tarjetas */
#catalogo-autos .col-md-4 {
    margin: 25px 0 !important;
    padding: 0 25px;
}
form > div:last-child {
    text-align: center;
    margin-top: 10px;
}

form > div:last-child a {
    text-decoration: none;
    color: #007bff;
}

form > div:last-child a:hover {
    text-decoration: underline;
}
